node_modules
front/node_modules
npm-packages-offline-cache
.history
.DS_Store
dist
.npmrc
.cache
yarn.lock
front/yarn.lock

.env
.googlecloud.json

# config
front/tests/server/static
front/tests/server/static/upload

.local
# local env files
.env.local
.env.*.local
.eslintcache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
